[submodule "report/preamble"]
	path = report/preamble
	url = git@github.com:LiHRaM/preamble.git

[submodule "riot-android"]
	path = riot-android
	url = git@github.com/LiHRaM/riot-android.git

[submodule "riot-android/server"]
	path = "riot-android/server"
	url = git@github.com/LiHRaM/server.git