name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    - name: LaTeX compilation
      uses: lihram/tectonic-nix@master
      with:
        file: report/master.tex
        packages: fontconfig cascadia-code ibm-plex
    
    - name: Upload master.pdf
      uses: actions/upload-artifact@v1
      with:
        name: report.pdf
        path: report/master.pdf
